<form [formGroup]="form">
    <div class="form-group">
        <label for="old">Old Password</label>
        <input type="password" id="old" formControlName="oldPass" class="form-control">
        <div class="alert alert-danger" *ngIf="oldPass.touched && oldPass.invalid">
            <div *ngIf="oldPass.errors.required">Old Password required.</div>
            <div *ngIf="oldPass.errors.shouldBeUnquie">Old Password is not valid.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="new">New Password</label>
        <input type="password" id="new" formControlName="newPass" class="form-control">
        <div class="alert alert-danger" *ngIf="newPass.touched && newPass.invalid">
            <div *ngIf="newPass.errors.required">New Password required.</div>
        </div>
    </div>

    <div class="form-group">
        <label for="confirm">Confirm Password</label>
        <input type="password" id="confirm" class="form-control" formControlName="confirmPass">
        <div class="alert alert-danger" *ngIf="confirmPass.touched && confirmPass.invalid">
            <div *ngIf="confirmPass.errors.required">Confirm Password is required.</div>

        </div>
    </div>
    <div *ngIf="form.invalid && form.errors.passwordsShldMatch" class="alert alert-danger">Passwords should match</div>
    <br>
    <button class="btn btn-primary" type="submit">Change password</button>
</form>